<%= link_to "My superb link simple", "#", :data => { :colorbox => true } %>
<%= link_to "My superb link", "#", :data => { :colorbox => true, :colorbox_height => '300px', :colorbox_width => '300px', :colorbox_iframe => true } %>

<div> 
    <div id="units">
			<h2 align="center" class="ui-widget-header">Units</h2>
			<div id="catalog">
			  <% UnitType.all.each do |unit_type| %>
			    <h3><a href="#"><%= unit_type.name %> (<%= unit_type.units.count %>)</a></h3>
			    <div>
			        <ul>
			            <% unit_type.units.each do |unit| %>
			                <li class="unit <%= "not_draggable" if @points < unit.points %>" value=<%= unit.id %>>
			                    <%= truncate(unit.name, :length => 20) %>
			                    <span style="color: grey; font-size: 10px;">
			                        <i><%= unit.points %> pts</i>
			                    </span>
			                </li>
			            <% end %>
			        </ul>
			    </div>
			  <% end %>
			</div>
    	<%# render :partial => "units" %>
</div>

		<div id="cart">
			<h2 align="center" class="ui-widget-header" id="army_title" value=<%= @army.id %>><%= @army.name %></h2>
			
			<span id="army_points">
				<%= render :partial => "army_points" %>
			</span>
			
    	<span id="selected_units">
				<%= render :partial => "selected_units" %>
			</span>
		</div>
		
<br/>
</div>