<h1>New army</h1>

<%= form_for @army, :html => { :multipart => true } do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br />

<%= f.select :race_id, Race.selectable_options, :include_blank => "-- select race --" %>
<%# f.label  :points %>
<%# f.text_field :points %>

<p>
<label for="amount">Points:</label>
<input name="army[points]" type="text" id="amount" />
</p>
<div style="width: 220px;" id="slider"></div>

<br />

<%= f.submit "Next" %>

<% end %>
<br/>
<%= link_to 'Back', :action => :show %>
